<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <div class="error-info">
    <p><%= @book.errors.count %> errors prohibited this book from being saved:</p>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <%= form_with model: @book do |f| %>
    <div class="form-item">
      <div class="error-item">Title</div>
      <div class="error-item"><%= f.text_field :title %></div>
    </div>
    <div class="form-item">
      <div class="error-item">Body</div>
      <div class="error-item"><%= f.text_area :body %></div>
    </div>
    <div class="form-item">
      <%= f.submit ' Update Book ' %>
    </div>
  <% end %>
<% else %>
  <%= form_with model: @book do |f| %>
    <div class="form-item">
      <div>Title</div>
      <%= f.text_field :title %>
    </div>
    <div class="form-item">
      <div>Body</div>
      <%= f.text_area :body %>
    </div>
    <div class="form-item">
      <%= f.submit ' Update Book ' %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Show', book_path(@book.id) %>
 |
<%= link_to 'Back', books_path %>